doctype html
html
	head
		title Homespace Decorator - AltspaceVR
		if production
			script(src='https://aframe.io/releases/0.7.0/aframe.min.js')
			script(src='https://sdk.altvr.com/libs/altspace.js/2.7.1/altspace.min.js')
			script(src='build/bundle.min.js')
		else
			script(src='https://aframe.io/releases/0.7.0/aframe.js')
			//-script(src='http://localhost:8001/dist/altspace.js')
			script(src='https://sdk.altvr.com/libs/altspace.js/2.7.1/altspace.js')
			script(src='build/bundle.js')
		script(src="https://unpkg.com/aframe-animation-component/dist/aframe-animation-component.min.js")
			
	body
		a-scene(debug, altspace='fullspace: true',
			poly-service='key: AIzaSyCYv7u5gLyRbo0amrki3732pbeqsHppIbo')

			a-assets
				a-asset-item#pedestal_model(src='build/pedestal.gltf')
				a-mixin#highrise_spot(position='22.4 0.7 -11')

			a-entity#spawn-complex(place-for-space='templates: highrise_homespace; mixins: highrise_spot')

				a-sphere(radius='.005')

				a-gltf-model(src='#pedestal_model' position='1 .05 -.3')
				a-entity(position='1 .55 -.3')
					a-gltf-model#spawn_point(maintain-size='1 1 1')

				a-entity#spawn_menu(position='-1 1 0' library-page='service: poly; page: 0')
					- let size = .3, pad = .04
					each i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
						a-box(library-item=`${i}`, avr-visible=true, hover-scale,
							width=size, height=size, depth=size/10,
							position=`${(-2+i%5)*(size+pad)} ${(2-Math.floor(i/5))*(size+pad)} 0`)

					a-box#prev(width=2.5*size+1.5*pad, height=size, depth=size/10,
						color='#808080' avr-visible=true
						position=`${-1.25*(size+pad)} ${-2*(size+pad)} 0`
						library-advance='-1')
						a-entity(position=`0 0 ${size/20 + .001}` n-text='text: Previous; font-size: 1')

					a-box#next(width=2.5*size+1.5*pad, height=size, depth=size/10,
						color='#808080' avr-visible=true
						position=`${1.25*(size+pad)} ${-2*(size+pad)} 0`
						library-advance='1')
						a-entity(position=`0 0 ${size/20 + .001}` n-text='text: Next; font-size: 1')

			a-entity(position='0 0 2'): a-camera: a-cursor